<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shiter index page</title>
</head>
<body>
    <h1>Welcome to Shmiter</h1>
    <a href="messages">Messages</a>
</body>
</html>