<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<h1>Registration</h1>
<p></p>
{{#message}}
<div style="margin: 20px; font-size: 30px; color: crimson">
    {{message}}
</div>
{{/message}}
<form action="/registration" method="post">
    <div><label> New Username : <input type="text" name="username" placeholder="Username"/> </label></div>
    <div><label> Password: <input type="password" name="password" placeholder="Password"/> </label></div>
    <div><label> Confirm Password: <input type="password" name="confirmPassword" placeholder="Confirm password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>